/* Header */

.header-style {
    background-color: cadetblue;
    background-image: url(../img/pattern.png);
    padding-bottom: 15px;
    padding-top: 20px;
    text-align:center;
}

/* Logo positioning and sizing */
.logo {
    height:80px;
    padding: 8px 5px 0px 5px;
    background-color: rgba(56, 115, 117, 0.56);
}

/* Main */

.main-style {
    padding:15px;
    margin: 10px 10% 10px 10%;
}
/* H1 positioning and sizing */
.main-title {
    font-size:28px;
    margin-top:10px;
    margin-bottom:0px;
    line-height: 28px;
}

.main-style a {
    text-decoration: none;
    color:blue
}

/* Author and Date */
.author {
    font-family: cursive;
    color: rgb(97, 95, 95);
    margin-top: 3px;
    line-height: 18px;
}

.author time {
    font-size: 14px;
}
/* Images and Caption Styling */
figure {
    margin: 0;
}

figcaption {
    font-style: italic;
    font-size: small;
}
/* List Styling */
ul {
    padding-left: 17px;
}
/* Table Styiling */
.table-style {
    text-align: left;
    width: 100%;
}

thead tr {
    background-color:cornflowerblue;
    color: white;
}

.thin-column{
    width:25%;  
}

.large-column{
    width: 50%;
}

.odd-row {
    background-color: rgb(126, 189, 245);
}

/* Footer */

.footer-style {
    text-align:center;
    color:white;
    background-color: rgb(6, 6, 111);
    padding: 20px;
    margin-top: 20px;
}